<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Chromium</title>

    <style>

    a{
      text-decoration: none;
    }
      
      #div1{
        background-color: #242424;

      }

      #div1 h3{
        color: white;
      }

      #maindiv{
        padding-top: 90px;

      }

      #section{
        border: solid 2px #dfe1e5;
      }

      #footer{
        background-color:#242424 ;
        
      }

      #voice:hover{
        cursor: pointer;
      }




    </style>
  </head>
  <body>
    {% include "header1.html" %}
    {% block header %}
    {% endblock %}
    

    <div id="maindiv" class="container shadow mb-5">

      <div class="d-flex justify-content-center">
        <img class="img-fluid" style="pointer-events:none;" src="../static/images/chromium.svg" height="auto" width="auto">
      </div>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          
          <div id="section" class="container mt-3">
              <h4 >About</h4>
              <p>Chromium is a chemical element with the symbol Cr and atomic number 24. It is the first element in group 6. It is a steely-grey, lustrous, hard, and brittle transition metal. Chromium is the main additive in stainless steel, to which it adds anti-corrosive properties.<a href="https://en.wikipedia.org/wiki/Chromium">Wikipedia</a></p>
              <div class="mb-3"><img id="voice" title="click to listen" src="../static/images/loud-speaker.png" onclick="mytext()" height="30px" width="30px">
              </div>
              
              <div style="border-top: solid 2px #dfe1e5;"><p style="font-weight:bold">Image </p> 
                <img class="img-fluid" style="pointer-events: none;" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Chromium_crystals_and_1cm3_cube.jpg" height="auto" width="auto"><br>
                <p>Image link-https://upload.wikimedia.org/wikipedia/commons/0/08/Chromium_crystals_and_1cm3_cube.jpg</p>
              </div>


              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Symbol- </span>Cr</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Atomic mass- </span> 51.9961 u</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Atomic number- </span>24</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Discovered- </span>1794</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Discovered by- </span> <a href="https://en.wikipedia.org/wiki/Louis_Nicolas_Vauquelin">Louis Nicolas Vauquelin</a> </p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Electrons per shell- </span>  2, 8, 13, 1</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Oxidation states- </span>−4, −2, −1, 0, +1, +2, +3, +4, +5, +6 (depending on the oxidation state, an acidic, basic, or amphoteric oxide)</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Group- </span>group 6</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Appearance - </span>silvery metallic</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Van der Waals radius - </span>NA</p></div>







      </div>

        </div>

        <div class="col-md-2"></div>
      </div>

      

      
      
    </div>


    {% include "base.html" %}
    {% block footer %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

   <script>
      function mytext()
      {
          
          var msg = new SpeechSynthesisUtterance();  
          msg.text ="Chromium is a chemical element with the symbol Cr and atomic number 24. It is the first element in group 6."; 
          msg.lang = 'hi-IN';
          speechSynthesis.speak(msg);

      }
    
   </script>
  </body>
</html>