<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Fluorine</title>

    <style>

    a{
      text-decoration: none;
    }
      
      #div1{
        background-color: #242424;

      }

      #div1 h3{
        color: white;
      }

      #maindiv{
        padding-top: 90px;

      }

      #section{
        border: solid 2px #dfe1e5;
      }

      #footer{
        background-color:#242424 ;
        
      }

      #voice:hover{
        cursor: pointer;
      }




    </style>
  </head>
  <body>
    {% include "header1.html" %}
    {% block header %}
    {% endblock %}
    

    <div id="maindiv" class="container shadow mb-5">

      <div class="d-flex justify-content-center">
        <img class="img-fluid" style="pointer-events:none;" src="../static/images/fluorine.svg" height="auto" width="auto">
      </div>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
          
          <div id="section" class="container mt-3">
              <h4 >About</h4>
              <p>Fluorine is a chemical element with the symbol F and atomic number 9. It is the lightest halogen and exists at standard conditions as a highly toxic, pale yellow diatomic gas. As the most electronegative element, it is extremely reactive, as it reacts with all other elements, except for argon, neon, and helium.<a href="https://en.wikipedia.org/wiki/Fluorine">Wikipedia</a></p>
              <div class="mb-3"><img id="voice" title="click to listen" src="../static/images/loud-speaker.png" onclick="mytext()" height="30px" width="30px">
              </div>
              
              <div style="border-top: solid 2px #dfe1e5;"><p style="font-weight:bold">Image </p> 
                <img class="img-fluid" style="pointer-events: none;" src="https://www.solvay.com/sites/g/files/srpend221/files/styles/header/https/media.solvay.com/medias/domain1446/media1015/155098-a1pcjmkgm4.png?itok=7zuj3ADJ" height="auto" width="auto"><br>
                <p>Image link-https://www.solvay.com/sites/g/files/srpend221/files/styles/header/https/media.solvay.com/medias/domain1446/media1015/155098-a1pcjmkgm4.png?itok=7zuj3ADJ</p>
              </div>


              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Symbol- </span> F</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Atomic mass- </span>18.998403 u</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Atomic number- </span> 9</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Discovered- </span> 1810</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Discovered by- </span> <a href="https://en.wikipedia.org/wiki/Andr%C3%A9-Marie_Amp%C3%A8re"> André-Marie Ampère</a> </p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Electrons per shell- </span> 2,7</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Oxidation states- </span>  −1, 0 (oxidizes oxygen)</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Group- </span>group 17 (halogens)</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Appearance - </span>   gas: very pale yellow liquid: bright yellow solid: alpha is opaque, beta is transparent</p></div>

              <div style="border-top: solid 2px #dfe1e5 ;"><p><span style="font-weight:bold">Van der Waals radius - </span>135 pm</p></div>







      </div>

        </div>

        <div class="col-md-2"></div>
      </div>

      

      
      
    </div>


    {% include "base.html" %}
    {% block footer %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

   <script>
      function mytext()
      {
          
          var msg = new SpeechSynthesisUtterance();  
          msg.text ="Fluorine is a chemical element with the symbol F and atomic number 9. It is the lightest halogen and exists at standard conditions as a highly toxic, pale yellow diatomic gas."; 
          msg.lang = 'hi-IN';
          speechSynthesis.speak(msg);

      }
    
   </script>
  </body>
</html>